# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=servify
DB_USER=postgres
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=change_this_to_a_strong_secret
JWT_REFRESH_SECRET=change_this_to_another_strong_secret

# App
PORT=3001
NODE_ENV=development
CLIENT_URL=http://localhost:4200
